.App {
  text-align: center;
}

.heading{
  border: 2px solid black;
  width: 157%;
  margin-left: -27%;
}

.head{
  border-bottom: 2px solid black;
  background-color:rgb(117, 159, 207);
}

.data{
  display: flex;
  justify-content: space-around;
}

.btn{
  margin-top: 20%;
}
